%h2
  Questions
  \#{link_to "New Question", new_survey_question_path(@survey)}
%hr/
%table
  %colgroup
    %col/
    %col{width: "250"}/
  %thead
    %tr
      %th Question
      %th
  %tbody= render partial: "question", collection: @questions
