%h2
  Surveys
  - if policy(Rapidfire::Survey).create?
    = link_to "New Survey", new_survey_path
%hr/
%table
  %colgroup
    %col/
    %col{width: "250"}/
  %thead
    %tr
      %th Survey
      %th
  %tbody= render partial: "survey", collection: @surveys
